<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corpus Analyzer Home</title>
  </head>
  <body>
    <h1>Input text to analyze:</h1>
    <form
      data-th-object="${corpus}"
      action="#"
      data-th-action="@{/analyze}"
      method="POST"
    >
      <textarea data-th-field="*{content}" rows="4" cols="50"> </textarea>
      <br />
      <input type="submit" value="Analyze" />
    </form>
  </body>
</html>
